static/images/*
static/webfonts/*
static/fontawesome-free-5.12.0-web/*
static/dist/main.js
static/dist/main.js.map
example recipes
example recipes/*
node_modules
node_modules/*
__pycache__/*
*.pyc
stupidPantry.conf
sp.sqlite
.env/*
.env
