
h1, h2, h3, h4, h5, h6, label {
  font-family: sans-serif, Arial;
  /* color: #FFF; */
}


html {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body {
  /*Apricot*/
  background-color: #F1C7B8;
}

.call-to-action {
  background-color: #522A29 !important;
  color: #FFFFFF !important;
}

.font-override {
  font-family: sans-serif, Arial;
}

.cover {
  object-fit: cover;
}

.bags {
  /* color: #fff; */
}

tr {
  border-bottom:1px solid #FFF;
}

a:link {
  text-decoration: none;
  /* background-color: #F1C7B8;
  color: #550; */
}

a:visited {
  text-decoration: none;
  /* background-color: #F1C7B8;
  color: #550; */
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.w3-card {
  background-color: #DABDB5;
  color: #000
}

.w3-card-toolbar {
  /* background-color: #ff9900; */
  margin-bottom: 10px;
}

.w3-bar {
  /* background-color: #464146;
  color: #FFF; */
}

.w3-button {
  background-color: #A17C76;
  color: #FFF;
}

.w3-opacity {
    opacity: 0.5;
    background-color: #522A29;
}

.app-inactive {
    opacity: 0.5;
    background-color: #522A29;
}

.w3-input {
  /* background-color: #DABDB5 ;
  color: #000; */
  boarder-bottom: 1px;
}

.w3-animate-fading {
  animation-duration: 2s;
}
