
h1, h2, h3, h4, h5, h6 {
  font-family: "cursive", Arial, sans-serif;
}

html {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

body {
  background-color: #ffbb22;
}


.cover {
  object-fit: cover;
}

.bags {
  color: #fff;
}

h2 {
  color: #333;
}

tr {
  border-bottom:1px solid #000;
}

a:link {
  text-decoration: none;
  color: #550;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #ff0;
}

a:active {
  text-decoration: underline;
}

.w3-card {
  background-color: #ffaa11;
}

.w3-card-toolbar {
  background-color: #ff9900;
  margin-bottom: 10px;
}

.w3-bar {
  background-color: #ffaa11;
}

.w3-button {
  background-color: #ff9900;
}

.w3-input {
  background-color: #ffaa11 ;
  boarder-bottom: 1px;
}

.w3-animate-fading {
  animation-duration: 2s;
}
