<!DOCTYPE html>
<html lang="en">
{% block body %}
{% if session['loggedIn'] %}
  <a href='/'>You're logged in already!<br />Go to homepage.</a>
{% else %}
  <head>
    <meta charset="utf-8">
    <title>Smart Pantry</title>
    <meta name="description" content="manage kitchen pantries and fridges">
    <meta name="author" content="Gene A. Guido III">
    <meta name="viewport" content="width=device-width, initial-scale=1",
          "user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"></link>
  </head>
  <body>
      <div id="root"></div>
      <script type="text/javascript"
              src="{{ url_for('static', filename='dist/main.js') | safe }}"></script>
  </body>
{% endif %}
{% endblock %}
</html>
