<div id="Cookbook" class="module">
  <h2>Cookbook<a href="/cookbook/form" class="w3-button w3-card-toolbar w3-xlarge w3-round w3-right w3-hover-yellow"><i class="fas fa-plus"></i></a></h2>
  <table class="w3-table w3-card">
    {% for row in data.CKB %}
    <tr onclick="myFunction('{{ row.meal_name }}')" class="w3-hover-yellow" >
      <td>
        <span class="w3-badge w3-yellow w3-margin-right">{{ row.meal_count }}</span>{{ row.meal_name }}
      </td>
    </tr>
    <tr id="{{ row.meal_name }}" class="w3-container w3-card w3-hide">
      <td>
        <h5> Ingredients </h5>
        <ul>
          {% for subrow in row.ingredients %}
          <li >
            {{ subrow.amount }} {{ subrow.measure}} {{ subrow.name }}
            {{ '<div class="w3-yellow">Not enough in pantry</div>' if subrow.low_stock }}</li>
          {% endfor %}
        </ul>
        <h5> Instructions </h5>
        {{ row.instructions }}
        <div class="w3-card-toolbar w3-center w3-card">
          <button class="w3-button w3-hover-yellow w3-toggle {% if row.keep_stocked is eq(True) %}w3-yellow{% endif %}">Keep Stocked</button>
          <button class="w3-button w3-hover-yellow "><i alt="use ingredients" class="fas fa-check"></i></button>
          <button class="w3-button w3-hover-yellow "><i alt="edit" class="fas fa-pen"></i></button>
          <button class="w3-button w3-hover-yellow"><i alt="favorite" class="fas fa-heart"></i></button>
          <button class="w3-button w3-hover-yellow "><i alt="delete" class="fas fa-times"></i></button>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
