<div id="Add a Recipe">
  <h2>Add a Recipe</h2>
  <div class="w3-card">
    <br />
    <div class="w3-container">
      <textarea class="textarea" ></textarea><br />
      <button alt="no data yet!" class="w3-btn w3-disabled w3-deep-orange" type="submit" label="process">
        save
      </button>
    </div>
    <div class="w3-container w3-card">
      <h3 class="MealName"> Sample Name </h3>
      <ul>
        <li>1tbs ingerdient1</li>
        <li>1 cups ingerdient2</li>
        <li>14oz ingerdient3</li>
        <li>3 ingerdient4</li>
      </ul>
      <h4>The Format:</h4><br>
      <b>Meal Title</b><br>
      -blank line-<br>
      <b>Ingredient List</b><br>
      -blank line-<br>
      <b>Instructions</b>
      <br><br>
      Once you have pasted the text your recipie shows up here. Formatted to make it clear what it thinks each section is.
      <br><br>
      Having problems? The application will point out any chnages you may need for it to work correctly. I've tried to make this piece count for most of the necessary input. Don't forget to hit the save button if you got it right!
      <br><br>
      You can use the Meals panel here to indicate if you want this meal to be something you always have in stock. The ingredients will be added to the shopping list and you can indicate which ingredients you have there if this is your first time inputing data into Supid Pantry.
      <br><br>
    </div> <!-- w3-card preview -->
  </div> <!-- w3-card -->
</div>
