<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Stupid Pantry</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<meta name="description" content="manage kitchen pantries and fridges">
<meta name="author" content="Gene A. Guido III">
<meta name="viewport" content="width=device-width, initial-scale=1",
      "user-scalable=no">
<link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='home.css') }}"></link>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"></link>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
</head>
<body>
  <div class="w3-container" />
    <div class="w3-row" >
      <div class="w3-col" >
        <div class="w3-container w3-padding-16" >
          {% include "header.jinja2" ignore missing %}
          </div></div></div>
    <div class="w3-row" >
      <div class="w3-col m6 l4" >
        <div class="w3-container" >
          <div id="Add a Recipe">
            <h2>Add a Recipe<a href="/" class="w3-button w3-card-toolbar w3-xlarge w3-round w3-right w3-hover-yellow"><i class="fas fa-home"></i></a></h2>
            <div class="w3-card">
              <form class="w3-padding-16 w3-container" action='/cookbook/form' method='post'>
                <textarea name="recipe" type="text" class="w3-input" >{{ data.input }}</textarea><br />
                <input  name="CheckInput"
                        type="submit"
                        class="w3-margin-top w3-margin-bottom w3-input w3-btn w3-yellow w3-center"
                        value="Check Input" />
                <div class="w3-form w3-container w3-card w3-padding-16">
                  <div class="{{ 'w3-hide' if data.name is defined }}">Hint: Name is always the first line</div>
                  <div class="{{ 'w3-hide' if data.name is defined }}">Hint: Ingredients must be proceeded by "ingredients" or a simlar word</div>
                  <div class="{{ 'w3-hide' if data.name is defined }}">Hint: Instructions must be proceeded by the word "instructions" </div>
                  <div class="{{ 'w3-hide' if data.name is defined }}"><a href="/docs">Documentation Here.</a> </div>
                  <b class="{{ '' if data.name is defined else 'w3-hide' }}">Name:</b>
                          {{ data.name }}
                          <p>
                            <b class="{{ '' if data.name is defined else 'w3-hide' }}">Ingredients:</b>
                            <ul class="w3-ul">
                              {% for ing in data.ingredients %}
                               <!-- TODO: Button for requireing all items be stocked? maybe different page?-->
                               <!-- TODO: Make it so perfect matches look like other linked items
                                          since those two things are similar show a linked icon? -->
                              <!-- TODO: Make a new page for displaying recipies. Have the save go there -->
                              <!-- TODO: Ensure recipies can be edited after the fact. Possibly harder then it looks
                                         May require a way to write the recipie as a blob into that text field at
                                         the top. That's the easy way. -->
                                <li class="w3-amber">
                                  {% if ing['no match'] is defined %}
                                    {{ ing.amount or '' }} {{ ing.amount_measure }} {{ ing.name if ing.name != ing.amount_measure }} {{ ing.conversion }}
                                    <div class="w3-bar w3-amber"><button name="r{{ ing.id }}" class="w3-button w3-hover-red" aira="remove ingredient"><i class="fas fa-times"></i>
                                      </button>
                                    </div>
                                  {% elif ing['perfect match'] %}
                                    {% for item in ing['perfect match'] %}
                                      {{ ing.amount or '' }} {{ item.amount_measure }} {{ item.name if item.name != item.amount_measure }} you have {{ item.amount }}
                                      of them.
                                      <div class="w3-bar w3-amber"><button name="r{{ ing.id }}" class="w3-button w3-hover-red" aira="remove ingredient"><i class="fas fa-times"></i>
                                        </button>
                                      </div>
                                    {% endfor %}
                                  {% else %}
                                    {{ ing.amount or '' }} {{ ing.amount_measure }} {{ ing.name if ing.name != ing.amount_measure }} {{ ing.conversion }}
                                    <ul class='w3-ul'>
                                    {% for item in ing.pantry %}
                                      <li class="w3-leftbar w3-border-yellow">
                                        "{{ item.name }}" you have <span class='w3-yellow'>{{ item.amount }}</span> {{ item.amount_measure }} of them.
                                        <div class="w3-bar w3-amber"><button name="c{{ item.id }}" class="w3-button w3-hover-yellow" alt="remove all others" aira="Use this item only"><i class="fas fa-crosshairs" ></i>
                                        </button>
                                        <button name="r{{ item.id }}" class="w3-button w3-hover-red" aira="remove"><i class="fas fa-times"></i>
                                        </button>
                                        </div>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                        {% endif %}
                                        </li>
                                        {% endfor %}
                                        </ul>
                                        </p>
                          <p>
                            <b class="{{ '' if data.name is defined else 'w3-hide' }}">Instructions</b>
                            {% for paragraph in data.instructions %}
                              <p>
                                {{ paragraph }}

                                </p>
                                {% endfor %}
                                </p>
                          <input  name="save"
                                  class="w3-margin-top w3-input w3-btn w3-yellow w3-center {{ '' if data.name is defined else 'w3-hide' }}"
                                  type="submit"
                                  value="Save Changes" />
                          </form> <!-- w3-card preview -->
                          </div> <!-- w3-card -->
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
<div class="w3-padding-32" />
</body>
</html>
