<div class="w3-round w3-bar w3-card" >
    <input type="text" id="search" onkeyup='searchFunc()' class="w3-round w3-bar-item w3-input" placeholder="Filter Apps.." />
    <a class="w3-bar-item" href="/"><i class="fas fa-eraser"></i></a>
    <div class="w3-right w3-bar-item">Stupid Pantry...</div>
</div>

<script>
function searchFunc(filter) {
    var divs, input, filter, i, txtValue;
    if (filter){
      input = filter;
    }
    else{
      input = document.getElementById("search");
    }
    filter = input.value.toUpperCase();
    divs = document.getElementsByClassName("module");
    for (i = 0; i < divs.length; i++) {
        txtValue = divs[i].id;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            divs[i].style.display = "";
        } else {
            divs[i].style.display = "none";
        }
    }
}
</script>
