<div id="Pantry" class="module">
  <h2>Pantry<a href="/pantry/form" class="w3-button w3-card-toolbar w3-xlarge w3-round w3-right w3-hover-yellow"><i class="fas fa-plus"></i></a></h2>
  <table class="w3-table w3-card">
    <tr>
      <td>Product</td>
      <td class="w3-right">Options</td>
      <td></td>
    </tr>
    {% for row in data.PAN %}
    <tr>
      <td><a id="{{ row.id }}"
             href="{{ row.link }}">
             {{ row.amount or '' }}
             {% if row.name not in row.amount_measure %}
               {{ row.amount_measure }} {{ row.name }}
             {% else %}
               {{ row.amount_measure }}
             {% endif %}</a></td>
      <td class="w3-right">
            <button onclick='pantry_item("{{ row.id }}","add",1)'
                    class="w3-small w3-hover-yellow w3-button">
                      <i alt="add"
                         class="fas fa-angle-up"></i></button>
            <button onclick='pantry_item("{{ row.id }}","remove",1)'
                    class="w3-small w3-hover-yellow w3-button">
                      <i alt="remove"
                         class="fas fa-angle-down"></i></button>
            <button onclick='pantry_item_delete("{{ row.id }}")'
                    class="w3-small w3-hover-yellow w3-button">
                      <i class="fas fa-times"></i></button></td></tr>
    {% endfor %}
  </table>
</div>


<script>
function pantry_item(id,action,amount) {
  var xmlhttp = new XMLHttpRequest();
  var url = "/pantry/"+id+"/"+action+"/"+amount ;
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var ing = JSON.parse(this.responseText);
      var amount = ing['amount'];
      var updateTxt = '';
      if ( ing['amount_measure'].search( ing['name'] ) ){
        updateTxt = ing['amount_measure'] +" "+ ing['name'];
      }else{
        updateTxt = ing['amount_measure'];
      }
      updateTxt = amount + " " + updateTxt;
      document.getElementById(id).innerHTML = updateTxt;
    }
  };
  xmlhttp.open("PUT", url, true);
  xmlhttp.send();
}
function pantry_item_delete(id) {
  var xmlhttp = new XMLHttpRequest();
  var url = "/pantry/"+id ;
  xmlhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      // ahh javascript... you slay me.
      target = document.getElementById(id).parentNode.parentNode;
      target.parentNode.removeChild(target);
    }
  };
  xmlhttp.open("DELETE", url, true);
  xmlhttp.send();
}
</script>
