<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Stupid Pantry</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<meta name="description" content="manage kitchen pantries and fridges">
<meta name="author" content="Gene A. Guido III">
<meta name="viewport" content="width=device-width, initial-scale=1",
      "user-scalable=no">
<link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='home.css') }}"></link>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"></link>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"></link>
</head>
<body>
  <div class="w3-container" />
  <div class="w3-row" >
    <div class="w3-col" >
      <div class="w3-container w3-padding-16" >
        {% include "header.jinja2" ignore missing %}
        </div></div></div>
  <div class="w3-row" >
    <div class="w3-col m6 l4" >
      <div class="w3-container" >
        <div id="Pantry" class="module">
          <h2>Add Pantry Item<a href="/" class="w3-button w3-card-toolbar w3-xlarge w3-round w3-right w3-hover-yellow"><i class="fas fa-home"></i></a></h2>
          <table class="w3-table w3-card">
            <tr>
              <td>
                <form action="/pantry" method="post">
                  <label>Name*</label><div class="w3-right">(Required)</div>
                  <input id="pan_add_name" name="name" class="w3-input" type="text" />
                  <label>Amount</label>
                  <input id="pan_add_amount" name="amount" class="w3-input" type="number" />
                  <label>Meteric, I have 5 of what? oz,cups,bannanas?</label>
                  <input id="pan_add_meteric" name="meteric" class="w3-input" type="text" />
                  <label>Amount per package</label>
                  <input id="pan_add_package_amount" name="pkg_amount" class="w3-input" type="number" />
                  <input type="submit" class="w3-margin-top w3-input w3-btn w3-yellow w3-center" onclick="pantry_item_create()" type="button" value="Add" />
                  </form></td></tr></table></div></div></div></div>
<div class="w3-padding-32" />
</body>
</html>
