<div id="Suggest a Meal" class="module">
  <h2>Suggest a Meal</h2>
  <table class="w3-table w3-card">
    {% for row in data.SAM %}
    <tr><td>
      <span class="w3-badge w3-yellow w3-margin-right">{{ row.meal_count }}</span><a href="{{ row.meal_link }}">{{ row.meal_name }}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
